/api/.bundle

/api/log/*
/api/tmp/*
!/api/log/.keep
!/api/tmp/.keep

/api/tmp/pids/*
!/api/tmp/pids/
!/api/tmp/pids/.keep

/api/storage/*
!/api/storage/.keep
/api/.byebug_history

/api/config/master.key

/api/db/schema.rb

/api/.env
